extends nav

block main-content
    h1.title(id='galt') Gallery:

    div(class='gallery') Tales from Earthsea
    img.earth(class='image',src="/images/earth.jpg" alt="Tales from Earthsea movie cover")

    div(class='gallery') Howl's Moving Castle
    img.sophie(class='image', src="/images/Sophie.jpg" alt="Sophie from Howl's Moving Castle")
    img.castle(class='image',src="/images/castle.jpg" alt="Howl's Moving Castle movie cover")

    div(class='gallery') My Neighbor Totoro
    img.castle(class='image',src="/images/totoro.jpg" alt="Totoro")