extends nav

block main-content
    h1.title(id='mTitle') Favorite Studio Ghibli Movies:
    div Click To Add To Favorites
    each movie in allMovies
        div 
        button(onclick='addMovie("' + movie.title + '")' ) #{movie.title}

    div Current Favorites:
    each movie in favoritedMovies
        div= movie
    script(src='/js/MoviePickerController.js')

//- script.
//-     'use strict';
    


