extends nav

block main-content
    h1.title(id='mTitle') Favorite Studio Ghibli Movies:
    div(id="fav") Click To Add To Favorites:
    each movie in allMovies
        div 
        button(id='mb', onclick='addMovie("' + movie.title + '")' ) #{movie.title}

    div(id="remove") Click To Remove From Favorites:
    each movie in allMovies
        div 
        button(id='rmb', onclick='removeMovie("' + movie.title + '")' ) #{movie.title}

    div(class='curfav') Current Favorites:
    each movie in favoritedMovies
        div= movie
    script(src='/js/MoviePickerController.js')

    button(id='fav', onclick='favTweet()' ) Tweet

//- script.
//-     'use strict';
    


