extends layout

block content
    nav.navbar(role="navigation", aria-label="main navigation")
        .navbar-brand
            h1.navbar-item Ghibli Movie Picker
        a.navbar-item(href="/moviePicker") Pick Your Favorite
        a.navbar-item(href="/studioghibli") Studio Ghibli
        a.navbar-item(href="/gallery") Gallery

    .section
        .container
            block main-content